@import '@src/variables.css';


.notification-message-square{
    background-color: var(--background);
    width: 100%;
    height: 100%;
    border-radius: 40px;
    z-index: 3;

    padding: 30px;
    grid-row: span 2;

}
.notification-message-square-cont{
    
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    padding-right: 10px;

    overflow-y: auto;

}
.load-more{
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 25px;
    max-width: 110px;
    margin-top: 30px;
    background-color: var(--background-button);
    color: var(--text-button);
}

/* -------------------------------- */

/* Para el scroll en diferentes naveadores */

/* WebKit Scroll (Chrome, Edge, Opera) */
.notification-message-square-cont::-webkit-scrollbar {
    width: 8px;
    transition: opacity 0.3s ease;
    opacity: 1;
}

.notification-message-square-cont::-webkit-scrollbar-track {
    background: transparent;
    margin: 5px; /* opcional: espacio arriba y abajo */
    border-radius: 20px;
}

.notification-message-square-cont::-webkit-scrollbar-thumb {
    background-color: var(--color-blur);
    border-radius: 20px;

    /* Aquí está la magia: */
    background-clip: content-box;
    /* border: 2px solid transparent;   */
}

/* -------------------------------- */

.no-notifications{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media screen and (max-width: 768px) {

    .notification-message-square{
        padding: 10px;
        border-radius: 20px;
    
    }
    .notification-message-square h1{
        font-size: 1.2rem;
    
    }
    .notification-message-square p{
        margin-top: 10px;
        font-size: 0.7rem;
    }

    

}
@media screen and (min-width: 768px) and (max-width: 1024px) {


    .notification-message-square{
        padding: 20px;
        border-radius: 20px;
    
    }
    .notification-message-square h1{
        font-size: 1.8rem;
    
    }
    .notification-message-square p{
        margin-top: 15px;
        font-size: 0.9rem;
    }

    
}