.tobby{
    width: auto;
    height: auto;
    overflow: hidden;
    position: absolute;
    right: 20%;
    bottom: 25%;
    z-index: 6;
}
.tobby img{
    height: 15vh;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 768px) {

    .tobby{

        right: 5%;
        bottom: 10%;
        z-index: 6;
    }
    .tobby img{
        height: 10vh;
        background-position: center;
        background-size: cover;
    }

    
}